<!doctype html>
<html>
  <body>
    <h1>Solutions</h1>
    <ul>
      <% @solutions.each do |solution| %>
        <li>Solution <%= solution.id %>:
          file located at <%= solution.file_path.nil? ? '??' : solution.file_path %>
          <a href="/solutions/<%= solution.id %>/attach">Attach solution</a>
        </li>
      <% end %>
    </ul>
    <p></p>

    <h1>Tasks</h1>
    <ul>
      <% @tasks.each do |task| %>
        <li>Task <%= task.id %>:<br />
          infile located at <%= task.in_file_path.nil? ? '??' : task.in_file_path %><br />
          outfile located at <%= task.out_file_path.nil? ? '??' : task.out_file_path %><br />
          <a href="/tasks/<%= task.id %>/attach">Attach files</a>
        </li>
      <% end %>
    </ul>
  </body>
</html>
